body {
    background-color: rgb(160, 155, 155);
    margin: 0%;
}

.blog-form {
    width: 50vh;
    display: flex;
    justify-content: left;
}

form {
    align-items: center;
    justify-content: center;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 25px;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.blog-form {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 50%;
    margin-left: 350px;
}

.project-name {
    display: flex;
    justify-content: left;
    font-weight: bold;
}

.input-form {
    width: 100%;
    margin-top: 3px;
    border: none;
    border-radius: 3px;
    height: 30px;
    box-shadow: 2px 2px 2px rgb(204, 203, 203);
    margin-bottom: 25px;
}

.label-date {
    display: flex;
    margin-bottom: 0%;
}

.form-date {
    display: flex;
    margin-bottom: 20px;
}

.start-date {
    margin-right: 125px;
    margin-left: 0px;
    margin-top: 0px;
    font-weight: bold;
}

.end-date {
    margin-top: 0px;
    font-weight: bold;
    margin-left: -10px
}

.start-form {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 3px;
    display: flex;
    margin-right: 35px;
    box-shadow: 2px 2px 2px rgb(204, 203, 203);
}

.end-form {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 3px;
    display: flex;
    margin-right: 0px;
    box-shadow: 2px 2px 2px rgb(204, 203, 203);
    margin-bottom: 0%;
}

.desc {
    display: flex;
    justify-content: left;
    font-weight: bold;
}

.form-desc {
    width: 100%;
    margin-top: 3px;
    border: none;
    border-radius: 3px;
    height: 30px;
    box-shadow: 2px 2px 2px rgb(204, 203, 203);
    margin-bottom: 25px;
    height: 110px;
}

.checkbox-label {
    display: flex;
    justify-content: left;
    font-weight: bold;
    margin-bottom: 10px;
}

.box-left {
    margin-bottom: 10px;
}

.box-right {
    margin-bottom: 10px;
}

h4 {
    margin-bottom: 5px;
    font-weight: bold;
}

.upload-photos {
    border: 1px solid;
    align-items: left;
    margin-right: 0px;
    float: left;
    margin-top: 0;
    width: 100%;
    border-color: rgb(240, 237, 237);
    box-shadow: 2px 2px 2px rgb(204, 203, 203);
    background-color: white;
    border-radius: 3px;
}

.container {
    margin-left: 30px;
    margin-top: 60px;
    margin-bottom: 20px;
}

button {
    display: flex;
    justify-content: right;
    margin-top: 20px;
    float: right;
    background-color: black;
    color: white;
    border-radius: 8px;
}

button:hover {
    cursor: pointer;
    text-decoration: underline;
    transition: 1s
}

.card-container {
    width: 100%;
    background-color: white;
    margin-top: 30px;
}

.btn-content {
    justify-content: center;
    padding: 5px;
    margin: 5px;
    width: 100%;
    margin-bottom: 5px;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding-left: 53px;
    align-items: center;
}

.card {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.content-tittle {
    width: 100%;
    margin-left: 5px;
}

.content-desc {
    -text: left;
    margin-left: 8px;
    display: flex;
}

.card-1 {
    height: 80%;
    margin-bottom: 20px;
    background-color: white;
    width: 300px;
    border: 1px solid rgb(230, 228, 228);
    box-shadow: 2px 2px 2px rgb(75, 73, 73);
    border-radius: 10px;
    margin-left: 20px;
}

a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.card {
    width: 100%;
    margin-top: 20px;
    width: 280px;
    margin-left: 10px;
}

.icon {
    width: 15px;
    padding: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    display: flex;
}


.edit-article {
    display: flex;
    -items: center;
}

.duration {
    margin-top: 3px;
    margin-left: 5px;
    color: gray;
}

.contents{
    flex-direction: row;
    display: flex;
    padding-top: 30px;
    padding-left: 5px;
}